<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransactionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50211/TransactionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionService"
                contract="YavinServiceReference.ITransactionService" name="BasicHttpBinding_ITransactionService" />
        </client>
    </system.serviceModel>
</configuration>